/* -------------------------------------------------- */
/* CORE */

.settings-core {
    /* NO MAP BACK */
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222831;
    /* background: #00ADB5; */
    z-index: 2;
}

/* ----- */

.FullPage-container-17Y0cs {
    /* FullPage-container-17Y0cs */
	font-size: 13px;
	font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	overflow: hidden
}

.background-container {
    /* background-container */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: #3f4245
}

.scroll-container {
    /* scroll-container */
	position: relative;
	flex-grow: 1;
	padding: 25px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.dark-scrollbar {
    /* dark-scrollbar */
	scrollbar-face-color: #323232;
	scrollbar-arrow-color: #323232;
	scrollbar-track-color: #000;
	scrollbar-shadow-color: #000;
	scrollbar-highlight-color: #000;
	scrollbar-3dlight-color: #000;
	scrollbar-darkshadow-color: #000
}

.dark-scrollbar::-webkit-scrollbar {
    /* dark-scrollbar::-webkit-scrollbar */
	width: 15px
}

.dark-scrollbar::-webkit-scrollbar-track {
    /* .dark-scrollbar::-webkit-scrollbar-track */
	background-color: rgba(0, 0, 0, .2)
}

.dark-scrollbar::-webkit-scrollbar-thumb {
    /* dark-scrollbar::-webkit-scrollbar-thumb */
	min-height: 50px;
	background-color: hsla(0, 0%, 100%, .15);
	border: 3px solid transparent;
	border-radius: 8px;
	background-clip: padding-box
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    /* dark-scrollbar::-webkit-scrollbar-thumb:hover */
	background-color: hsla(0, 0%, 100%, .25)
}

.dark-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    /* dark-scrollbar::-webkit-scrollbar-thumb:window-inactive */
	background-color: hsla(0, 0%, 100%, .05)
}

.btn {
    /* btn */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.71428571;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.btn-default {
    /* btn-default */
	border-color: #ccc;
	/* color: #fff; */
	color: #00ADB5;
	background-color: hsla(0, 0%, 100%, .25);
	-webkit-transition: background-color .1s;
	transition: background-color .1s
}

.btn-sm,
.btn-xs {
    /* .btn-sm, .btn-xs */
	padding: 2px 10px
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* NavBar */

.NavBar-core {
    /* NavBar-container-1T0BJz */
	font-size: 13px;
	font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-grow: 1;
	width: 100%;
	height: 60px;
	background: #222831;
}

.NavBar-Alignment {
    /* NavBar-left-2SrTGf */
	padding-left: 10px
}

.NavBar-AlignmentImg {
    /* NavBar-side-2kZrHV */
	display: flex;
	align-items: center;
	height: 100%;
}

.NavBar-HomeLinkButton {
    /* NavBarIconButton-button-eR0v0j */
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 0 10px;
	height: 100%;
	font-size: 20px;
    color: hsla(0, 0%, 100%, .7);
}

.NavBar-HomeLinkIcon {
    /* PlexIcon-plexIcon-8Tamaj */
	position: relative;
	top: -2px;
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	line-height: 1;
	fill: currentColor
}

.nav-bar a:hover {
    /* NO MAP BACK*/
    text-decoration: none;
    color: #393E46
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* sidebarInfo */

.SidebarInfo-core {
	display: flex;
	flex: 0 0 240px;
	flex-direction: column;
	width: 240px;
	height: 100%;
	background-color: #222831;
	transform: translateZ(0)
}

.SettingsSidebar-spacing {
	padding-top: 10px;
	padding-bottom: 60px
}

.SidebarList-title { /* Clean UP FONT*/
	overflow: hidden!important;
	min-width: 0;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap!important;
	align-content: center;
	padding-left: 25px;
	height: 45px;
	color: hsla(0, 0%, 100%, .3);
	text-transform: uppercase;
	font-size: 12px;
	font-family: Open Sans Bold, Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 45px
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* sidebarInfoMeta */

.sidebarItem a:hover {
    /* NO MAP BACK*/
    text-decoration: none;
    color: #2feb0a
}


.sidebarItem {
    /* position: relative; */
	/* display: flex; */
	/* min-height: 30px; */
	/* border-top-right-radius: 4px; */
	/* border-bottom-right-radius: 4px */
}

.sidebarItem:hover {
    background-color: #393E46;
    /* TEST Color */
    /* background-color: #f50606; */
}

.SidebarLink-indent {
    /* SidebarLink-sidebarLink-L2OPdE */
	display: block;
	flex-grow: 1;
	overflow: hidden;
	padding: 4px 0 2px 25px
}

.SidebarLink-indent.isDisabled {
    /* SidebarLink-sidebarLink-L2OPdE.isDisabled */
	color: hsla(0, 0%, 100%, .3)
}

.SidebarLink-indent:hover .SidebarLink-iconImg-1grLXe {
    /* SidebarLink-sidebarLink-L2OPdE:hover .SidebarLink-iconImg-1grLXe */
	opacity: 1
}

.SidebarItem-isActive {
    /* Link-isSelected-IRm9uM */
	color: #e50d0d;
    /* color: #e5a00d */
}

.SidebarItem-isInactive {
    /* NO MAP BACK*/
	color: #ffffff;
}

.SidebarItem-isActiveIcon {
    /* SettingsSidebarListLink-selectedIcon-caIG1g */
	text-align: center
}

.SidebarItem-isActiveIcon:before {
    /* SettingsSidebarListLink-selectedIcon-caIG1g:before */

    /* https://www.toptal.com/designers/htmlarrows/punctuation/ */

	/* Bullet = "\2022" */
    /* DOUBLE RIGHT-POINTING ANGLE QUOTATION MARK  - \00BB*/
    content: "\00BB"
}

.SidebarItem-Indentation {
    /* SettingsSidebarListLink-icon-eICe1t */
	width: 18px;
	font-size: 13px
}

.SidebarItem-NoCR {
    /* SidebarLink-container-24bhWp */
	display: flex
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* FooterInfo */

.footerInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* AdvancedBar */

.AdvancedBar-core {
    /* filter-bar */
	position: relative;
	/* background-color: rgba(0, 0, 0, .15); */
	background-color: #222831;
	height: 50px;
	line-height: 22px;
	padding: 13px 20px;
	margin: 20px 0
}

/* ------------- */
.filter-bar:after,
.filter-bar:before {
	/* .filter-bar:after, .filter-bar:before */
    content: " ";
	display: table

}

.filter-bar:after {
    /* .filter-bar:after */
	clear: both
}

.filter-bar-right {
    /* .filter-bar-right */
	float: right;
	font-size: 0
}

.filter-bar-right>.btn {
    /* .filter-bar-right>.btn */
	margin-left: 10px
}

.filter-bar-right>.btn-gray {
    /* .filter-bar-right>.btn-gray */
	margin-left: 20px;
	font-size: 20px
}

.advanced-setting,
.nav>li.advanced-setting {
	display: none
}

.show-advanced .advanced-setting,
.show-advanced .nav>li.advanced-setting {
	display: block
}

.show-advanced .basic-setting {
	display: none
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Form */

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* -------------------------------------------------- */